@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Unica One" !important;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.home-class,
#root,
.App {
  height: 100%;
}
.home-class {
  display: grid;
  grid-template-rows: min-content auto;
}
.about-page {
  display: flex;
  width: 300px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  right: 50%;
  margin: -50px 0 0 -50px;
  justify-content: center;
}
div a {
  display: contents;
}
.nav-class {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

button.btn {
  color: white;
  font-size: 24px;
  border-radius: 0;
}

button.btn:hover,
button.btn:visited,
button.btn:focus-visible {
  background-color: white;
}

button.btn:active {
  color: white !important;
  border-color: white !important;
}

.main-logo {
  margin: auto;
  max-width: 80%;
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="textarea"] {
  background: transparent;
  border: 2px solid white;
}
input[type="text"]::placeholder {
  color: white;
}

input[type="email"]::placeholder {
  color: white;
}

input[type="textarea"]::placeholder {
  color: white;
}

.contact-div {
  color: white;
}

.container {
  background: #f0e7e738;
  border-radius: 90px;
  position: relative;
  overflow: hidden;
  opacity: 85%;
  width: 768px;
  max-width: 100%;
  min-height: 400px;
  transition: 333ms;
  position: absolute;
  top: 20%;
  left: 10%;
}
.form-container {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-container input {
  color: black;
  background: #eee;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.form-container input:hover {
  transform: scale(101%);
}
.sign-in-container {
  padding: 100px;
}
